:root{
    --bg-color: rgb(166, 72, 203);
}
body{
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: white;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: var(--bg-color);
    color: white;
    border-radius: 30px;
    border-color: darkviolet;
    height: 3rem;
    width: 10rem;
}

button:active{
    background-color: rgb(139, 100, 174);
}

#out{
    text-align: center;
}

#signmain{
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    background-color: rgb(246, 247, 247);
    width: 40rem;
    height: max-content;
    border-radius: 40px;
    border-style: none;
    color: black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.202);
}

#signsub{
    width: 32rem;
    text-align: left;
    height: min-content;
}

.tinput{
    height: 2rem;
    width: 31rem;
    border-style:solid;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
}

p{
    font-size: 0.7rem;
    color: red;
}

#login{
    color: black;
    text-align: left;
    font-size: 1rem;
}